# Dependencies
/vendor/
/node_modules/

# Build artifacts
/dist/
*.zip

# Logs
*.log

# Test cache
/.phpunit.result.cache
/.docker-cache/

# Editor / OS
/.vscode/
/.idea/
.DS_Store
Thumbs.db

# Environment
.env
.env.*

#AI
.superpowers
docs/superpowers
