<?xml version="1.0"?>
<ruleset name="Cinebot WP">
    <description>Cinebot WP coding standards.</description>
    <file>cinebot-wp.php</file>
    <file>includes</file>
    <file>templates</file>
    <file>tests</file>
    <file>uninstall.php</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/dist/*</exclude-pattern>
    <arg value="ps"/>
    <config name="minimum_supported_wp_version" value="6.0"/>
    <rule ref="WordPress">
        <!-- Naming: camelCase DTO/Model properties and methods are intentional. -->
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>

        <!-- Doc comments: short @var tags and inline summaries. -->
        <exclude name="Generic.Commenting.DocComment.MissingShort"/>
        <exclude name="Generic.Commenting.DocComment.ShortNotCapital"/>
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
        <exclude name="Squiz.Commenting.FunctionCommentThrowTag.Missing"/>
        <exclude name="Squiz.Commenting.FunctionCommentThrowTag.WrongNumber"/>
        <exclude name="Squiz.Commenting.VariableComment.Missing"/>
        <exclude name="Squiz.Commenting.FunctionComment.ParamNameNoMatch"/>
        <exclude name="Squiz.Commenting.FunctionComment.IncorrectTypeHint"/>
        <exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>
        <exclude name="Squiz.Commenting.FunctionComment.InvalidNoReturn"/>
        <exclude name="Squiz.Commenting.ClassComment.Missing"/>

        <!-- Formatting: cosmetic warnings. -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
        <exclude name="Generic.Formatting.MultipleStatementAlignment.IncorrectWarning"/>
        <exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound"/>
        <exclude name="WordPress.Arrays.ArrayIndentation.ItemNotAligned"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>

        <!-- Security: acceptable in admin/test context. -->
        <exclude name="WordPress.Security.NonceVerification.Recommended"/>
        <exclude name="WordPress.Security.EscapeOutput.ExceptionNotEscaped"/>
        <exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotSanitized"/>
        <exclude name="WordPress.Security.ValidatedSanitizedInput.MissingUnslash"/>

        <!-- Direct DB queries are intentional. -->
        <exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching"/>
        <exclude name="WordPress.DB.PreparedSQL.NotPrepared"/>

        <!-- WP globals override in templates and tests. -->
        <exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>

        <!-- Universal sniffs conflicting with code style. -->
        <exclude name="Universal.Namespaces.OneDeclarationPerFile.MultipleFound"/>
        <exclude name="Universal.Namespaces.DisallowCurlyBraceSyntax.Forbidden"/>
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames"/>
        <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
        <exclude name="Universal.Operators.DisallowStandalonePostIncrementDecrement.PostIncrementFound"/>
        <exclude name="Universal.WhiteSpace.DisallowInlineTabs.NonIndentTabsUsed"/>
        <exclude name="Universal.Files.SeparateFunctionsFromOO.Mixed"/>
        <exclude name="Generic.Files.OneObjectStructurePerFile.MultipleFound"/>
        <exclude name="Generic.Formatting.DisallowMultipleStatements.SameLine"/>
        <exclude name="Generic.CodeAnalysis.EmptyStatement.DetectedCatch"/>
        <exclude name="Generic.CodeAnalysis.ForLoopWithTestFunctionCall.NotAllowed"/>
        <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed"/>

        <!-- Miscellaneous. -->
        <exclude name="Squiz.PHP.NonExecutableCode.ReturnNotRequired"/>
        <exclude name="Squiz.Strings.DoubleQuoteUsage.NotRequired"/>
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions"/>
        <exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
        <exclude name="WordPress.WP.AlternativeFunctions"/>
        <exclude name="WordPress.WP.DeprecatedParameters"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.BlankLineAfterEnd"/>
        <exclude name="WordPress.Security.NonceVerification.Missing"/>
    </rule>
</ruleset>
