parameters:
    level: 6
    phpVersion: 70400
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    paths:
        - cinebot-wp.php
        - includes
        - templates
        - uninstall.php
    excludePaths:
        - vendor
        - dist (?)
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.parameter
        - identifier: missingType.return
