parameters:
    level: 6
    phpVersion: 70400
    memory_limit: 512M
    paths:
        - cinebot-wp.php
        - includes
        - templates
        - uninstall.php
    excludePaths:
        - vendor
        - dist (?)
